Source: python-wsproto
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders:
 Michael Fladischer <fladi@debian.org>,
Section: python
Priority: optional
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 python3-all,
 python3-h11,
 python3-pytest,
 python3-setuptools,
 python3-sphinx,
Standards-Version: 4.6.1.0
Homepage: https://github.com/python-hyper/wsproto
Vcs-Git: https://salsa.debian.org/python-team/packages/python-wsproto.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-wsproto
Rules-Requires-Root: no
Testsuite: autopkgtest-pkg-python

Package: python-wsproto-doc
Architecture: all
Multi-Arch: foreign
Section: doc
Depends:
 ${misc:Depends},
 ${sphinxdoc:Depends},
Description: WebSockets state-machine based protocol implementation (Documentation)
 Pure-Python implementation of a WebSocket protocol stack. It's
 written from the ground up to be embeddable in whatever program you
 choose to use, ensuring that you can communicate via WebSockets, as
 defined in RFC6455, regardless of your programming paradigm.
 .
 This package contains the documentation.

Package: python3-wsproto
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Description: WebSockets state-machine based protocol implementation (Python3)
 Pure-Python implementation of a WebSocket protocol stack. It's
 written from the ground up to be embeddable in whatever program you
 choose to use, ensuring that you can communicate via WebSockets, as
 defined in RFC6455, regardless of your programming paradigm.
 .
 This is the Python3 package.
